@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #e50914;
  --primary-hover: #ff2d55;
  --bg-primary: #111111;
  --bg-secondary: #1b1b1b;
  --bg-card: #202020;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --border-color: #2d2d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
