@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--primary-color: #E50914;
--primary-hover: #FF2D55;
--bg-primary: #111111;
--bg-secondary: #1B1B1B;
--bg-card: #202020;
--text-primary: #FFFFFF;
--text-secondary: #B3B3B3;
--border-color: #2D2D2D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}